# Docker & Containerlab
.clab/
*.log
*.tar
nodes/

# Containerlab generierter Ordner ignorieren
clab-bgp-testbed/*
# Aber topology-data.json explizit ausschliessen (nicht ignorieren)
!clab-bgp-testbed/topology-data.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
clab-bgp-testbed/
clab-bgp-testbed-t

# Spezifisch generierte Testbed-Dateien
generated/configs/roas.json
generated/

# Betriebssystem
.DS_Store
Thumbs.db